.min-h-screen{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.fond-bold{
    font-weight: bold;
}

.flex-col{
    flex-direction: column;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 23px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-color{
    color: orangered;
}

.btn{
    padding: 10px 28px;
    color: white;
    border: 2px solid white;
    background-color: black;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}

.overflow-hidden{
    background-color: black;
    color: white;
    
}

.text-center{
    text-align: center;
}


.px-1{
    margin-bottom: 15px;
}
